
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
			<div class="thumbnail">
				<img src="/uploads/{{dataprofile.image}}" alt="">
				<div class="caption">
					<h3>{{dataprofile.title}}</h3>
					<p>
						{{dataprofile.descript}}
					</p>
					<p>some text</p>
				</div>
			</div>
		</div>
